/* Used to introduce pages or sections. */
.text-heading {
  &-32,
  &-24,
  &-20,
  &-16 {
    font-weight: 600;

    /* Subtle */
    > strong {
      font-weight: 500;
    }
  }

  &-32 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.28px;
  }

  &-24 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
  }

  &-20 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.4px;
  }

  &-16 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }

  &-14 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
    font-weight: 600;
  }
}

/* Only to be used within components that render buttons. */
.text-button {
  &-16,
  &-14,
  &-12 {
    font-weight: 500;
  }

  /* Largest button */
  &-16 {
    font-size: 16px;
    line-height: 20px;
  }

  /* Default button */
  &-14 {
    font-size: 14px;
    line-height: 20px;
  }

  /* Tiny button in input field */
  &-12 {
    font-size: 12px;
    line-height: 16px;
  }
}

/* Designed for single-lines, and given ample line-height for highlighting & marrying up with icons. */
.text-label {
  &-20,
  &-18,
  &-16,
  &-14,
  &-13 {
    font-weight: 400;
  }

  &-20 {
    font-size: 20px;
    line-height: 32px;
  }

  &-18 {
    font-size: 18px;
    line-height: 20px;
  }

  &-16 {
    font-size: 16px;
  }

  &-14 {
    font-size: 14px;
  }

  &-13 {
    font-size: 13px;
  }

  /* Strong */
  &-16,
  &-14,
  &-13 {
    line-height: 20px;
    color: var(--text-color-light);

    > strong {
      font-weight: 500;
    }
  }
}

/* Designed for multiple lines of text, having a higher line height than Label. */
.text-copy {
  &-24,
  &-20,
  &-18,
  &-16,
  &-14 {
    font-weight: 400;
    color: var(--text-color-light);

    > strong {
      font-weight: 500;
      color: var(--text-color);
    }
  }

  &-24 {
    font-size: 24px;
    line-height: 36px;
  }

  &-20 {
    font-size: 20px;
    line-height: 36px;
  }

  &-18 {
    font-size: 18px;
    line-height: 28px;
  }

  &-16 {
    font-size: 16px;
    line-height: 24px;
  }

  &-14 {
    font-size: 14px;
    line-height: 20px;
  }

  &-13 {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
}
