PORT=3000
ALLOWED_ORIGINS=http://localhost:5173,https://llaio.vercel.app
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_QUOTA_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS_JSON=
GOOGLE_APPLICATION_CREDENTIALS_JSON_BASE64=
