@import 'tailwindcss';
@import './styles/theme.css';
@import './styles/typography.css';
@import './styles/animations.css';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));
